<h1>{{name}}'s Reviews</h1>
<ul class="search-form">
    <li>
        <form id="search-site"  action='/reviews/search/:query' method='get'>
            <div class="input-group">
                    <i class="fas fa-search fa-large" ></i>
                    <div class="input-field">
                    <input id="search" type="search" name='query' placeholder="Search by title">
                    <label class="label-icon" for="search">
                    </label>
                 </div>
                <button type="submit" class="input-group-addon btn deep-purple lighten-1">search</button>
            </div>

        </form>  
    </li>   
</ul>
<div class="row">
    {{#each reviews}}
    <div class="col s12 m4">
        <div class="card deep-purple lighten-5">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{truncate (stripTags body) 100}}</p>
                <br>
                <div class="chip deep-purple lighten-4">
                    <img src="{{user.image}}" referrerpolicy="no-referrer" alt="">
                    <a href="/reviews/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/reviews/{{_id}}" class="btn deep-purple lighten-1">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No reviews to display</p>
    {{/each}}
</div>